<div class="flex flex-col mb-12 text-sm gape-5 sm:flex-row sm:justify-between">
  <div class="flex items-center px-6 mb-12 rounded-lg shadow-md component-bg sm:mb-0">
    <img
      class="h-4 mr-2"
      src="../../../../assets/img/magnifying-glass-solid.svg"
      alt="Search icon"
    />
    <input
      #searchInput
      class="p-3 font-light rounded-lg focus:outline-none component-bg"
      type="text"
      placeholder="Search for a country..."
      [formControl]="searchInputControl"
      (keyup)="triggerSearchByNameEvent()"
    />
  </div>

  <p-dropdown
    [options]="regions"
    placeholder="Filter by region"
    [(ngModel)]="selectedRegion"
    [showClear]="true"
    (onChange)="triggerSearchByRegionEvent()"
  ></p-dropdown>
</div>
