@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors.scss";

@font-face {
  font-family: NunitoSans;
  src: url(./assets/fonts/NunitoSans-VariableFont_wght.ttf);
}

body,
p-component {
  font-family: NunitoSans;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-weight: 300;
  color: $very-dark-blue-lm;
}

.p-dropdown,
.p-dropdown-item {
  font-weight: 300;
  font-size: 14px;
}

.p-dropdown {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.p-inputtext {
  font-size: 14px;
}

.p-focus {
  box-shadow: none;
}
