<div *ngIf="country" class="flex flex-col p-12">
  <div class="flex mb-12">
    <a
      class="flex px-4 py-2 rounded-lg shadow-md component-bg"
      routerLink="/countries"
    >
      <img
        class="mr-4"
        [src]="getBackArrowImgSrc()"
        alt="Back arrow"
      />
      Back</a
    >
  </div>

  <div class="flex flex-col lg:flex-row">
    <img class="lg:w-1/2" [src]="country.flags.svg" [alt]="country.flags.alt" />

    <div class="flex flex-col py-8 lg:px-20">
      <p class="mb-6 text-3xl font-extrabold">{{ country.name.common }}</p>

      <div class="flex flex-col sm:flex-row">
        <div class="mb-10 sm:mr-20">
          <p>
            <span class="font-extrabold">Native Name: </span>
            {{ getNativeName() }}
          </p>
          <p>
            <span class="font-extrabold">Population: </span>
            {{ country.population | number }}
          </p>
          <p>
            <span class="font-extrabold">Region: </span> {{ country.region }}
          </p>
          <p>
            <span class="font-extrabold">Sub Region: </span>
            {{ country.subregion }}
          </p>
          <p>
            <span class="font-extrabold">Capital: </span> {{ getCapitals() }}
          </p>
        </div>

        <div>
          <p>
            <span class="font-extrabold">Top Level Domain: </span>
            {{ getTopLevelDomain() }}
          </p>
          <p>
            <span class="font-extrabold">Currencies: </span>
            {{ getCurrencies() }}
          </p>
          <p>
            <span class="font-extrabold">Languages: </span>
            {{ getLanguages() }}
          </p>
        </div>
      </div>

      <div class="flex flex-wrap items-center gap-2 mt-12">
        <p class="font-extrabold">Border Countries:</p>

        <div *ngFor="let border of borders" class="px-4 py-1 mx-1 rounded-sm component-bg component-box-shadow">
            <p class="text-sm">{{ border }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
